.arrangements-side {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.arrangements-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.arrangements-spacing-small {
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.arrangements-spacing-large {
  row-gap: 1.5rem;
  column-gap: 1.5rem;
}

.arrangements-spacing-none {
  row-gap: 0;
  column-gap: 0;
}

.absolute-stretched {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.position-relative {
  position: relative;
}
