@font-face {
  font-family: "Aktiv Grotesk Ex";
  src: url('@/assets/fonts/Aktiv Grotesk Ex.woff2') format('woff2'), /* chrome、firefox */
       url('@/assets/fonts/Aktiv Grotesk Ex.woff') format('woff'), /* chrome、firefox */
       url('@/assets/fonts/Aktiv Grotesk Ex.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}