$breakpoint-mobile-m: 480px;
$breakpoint-mobile-l: 600px;
$breakpoint-tablet: 768px;
$breakpoint-desktop-m: 992px;
$breakpoint-desktop-l: 1200px;

$spacing: 20px;

$red: #ff6666;
$dark: #242424;
$light: #f6f5ec;

$h-header: 60px;